<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
    <header id="header">
        <div class="inner">
            <a href="#" class="image avatar"><img src="{{ site.logo }}" alt="{{ site.title }}"></a>
            <h1><strong>{{ site.title }}</strong>, {{ site.description }}</h1>
        </div>
    </header>

    <div id="main">
        {{ content }}
    </div>

    <footer id="footer">
        <div class="inner">
            <ul class="icons">
                {% for item in site.social %}
                <li><a href="{{ item.url }}" class="icon {{ item.icon }}"><span class="label">{{ item.title }}</span></a></li>
                {% endfor %}
            </ul>
            <ul class="copyright">
                <li>&copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
    </footer>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.poptrox.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>